body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121128;
  margin: 0;
}
p {
  color: #f28600;
  font-size: 1.6rem;
  line-height: 1.5;
  /* transform: rotate(180deg); */
  margin: 0;
}
/* Start Here */
.container {
  background: url(images/forest1.gif) center no-repeat;
  /* transform: rotate(180deg); */
  position: relative;
  overflow: hidden;
}
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(262, 100%, 24%, 0.5);
}
.container img {
  transform: rotate(0);
}
.game {
  width: 750px;
  height: 350px;
  border-radius: 3px solid #fff;
  margin: auto;
}
.hero {
  width: 20px;
  height: 50px;
  position: relative;
  top: 280px;
  left: 20px;
  z-index: 1;
}
.hero img {
  width: 70px;
  height: 70px;
}
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  /* 0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  50% {
    top: 60px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  } */
  0% {
    top: 280px;
  }
  50% {
    top: 170px;
  }
  100% {
    top: 280px;
  }
}
.vilan {
  width: 20px;
  height: 20px;
  position: relative;
  top: 250px;
  left: 690px;
  /* animation: move 1s infinite linear; */
}

@keyframes move {
  0% {
    left: 700px;
  }
  100% {
    left: -20px;
  }
}
.vilan img {
  width: 70px;
}
